---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Speakercard from "../components/Speakercard.astro";
import Infobokse from "../components/Infobokse.astro";
import Ticketcard from "../components/Ticketcard.astro";
import Themesection from "../components/Themesection.astro";
import Aboutsection from "../components/Aboutsection.astro";
import Sponsorsection from "../components/Sponsorsection.astro";
import Video from "../components/Video.astro";

import "../styles/style.css";
const data = await fetch(
  "https://abfrtnafkorgiedfqqev.supabase.co/rest/v1/oplaegsholdere",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiZnJ0bmFma29yZ2llZGZxcWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyNDcwMDcsImV4cCI6MjAxMTgyMzAwN30.i6rJ2nfgh5Ybo40FtWbB783MzTUXCQtVaoeMYoy0AQw    ",
    },
  }
).then((res) => res.json());

console.log(data);
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Document</title>
    
  </head>
  <body>
    <header><Header /></header>
    <Video />

    <main>
      <img src="uxkbhavana/public/logo.png" alt="" />

      <div class="video"></div>

      <Themesection />
      <div id="ticketsection">
        <h1>Tickets</h1>
        <div class="tickets">
          <Ticketcard
            id="ticketcard1"
            ticket="Live-event ticket"
            early="(Early bird price)"
            price="DKK 6.500 ,-"
            text="Join us live* in Copenhagen! Read more about what this ticket includes"
            image="billet1.svg"
          />
          <Ticketcard
            id="ticketcard2"
            ticket="Live-stream ticket"
            early="(Early bird price)"
            price="DKK 3.000 ,-"
            text="Watch the full live-stream footage of both days. Read more about what this ticket includes"
            image="billet2.svg"
          />
          <Ticketcard
            id="ticketcard3"
            ticket="Group Ticket"
            text="Join us live or online as a group. Read more about what this ticket includes"
            image="billet3.svg"
          />
          <Ticketcard
            id="ticketcard4"
            ticket="Recording of the 2023 live-stream"
            text="Watch or rewatch both days of the conference. Read more about what this ticket includes"
            image="billet4.svg"
          />
        </div>
      </div>
      <div id="speakersection">
      <section id="speaker">
        <h1 class="speakerh1">This years speakers</h1>
        <div class="speakers">
          <div class="speaker_item">
            {
              data.map((show) => {
                return <Speakercard data={show} />;
              })
            }
          </div>
        </div>
      </section>
      <div class="mailsection">
        <img src="public/ikoner/social-ikoner/mail.svg" alt="" />
        <p>
          Our call for speakers is open each year from June 1 – Sep 1. <br
          />Please send an email to conference curator Helle Martens with your
          proposal: hello (at) uxcopenhagen.com.
        </p>
      </div>
      <section>
        <Infobokse />
      </section>
      </div>

      <Aboutsection />
      <Sponsorsection />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>

  <style>

   
    /* Ticket Section */

    #ticketsection {
      margin: 10%;
    }
    #ticketsection h1 {
      text-align: center;
    }
    @media (min-width: 750px) {
      .tickets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
      }
    }

    /* Speaker Section */
    .speakers {
      display: flex;
      overflow-x: auto;
      width: auto;
      height: 600px;
      line-height: 50px;
      margin-bottom: 0;
    }

    .speakers::-webkit-scrollbar {
      width: 0;
    }

    .speaker_item {
      display: flex;
      margin: 0;
      margin-bottom: 0;
      padding: 0;
    }

    #speakersection{
      margin: 4%;
    }
    #speakersection h1{
      text-align: center;
    }
    .mailsection{
      display: flex;
      gap: 1rem;
    }

    @media (max-width: 600px) {
      body {
      margin-top: 50px;
    }
    }


  </style>
</html>
