---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Speakercard from "../components/Speakercard.astro";
import Ticketcard from "../components/Ticketcard.astro";
const data = await fetch(
  "https://abfrtnafkorgiedfqqev.supabase.co/rest/v1/oplaegsholdere",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiZnJ0bmFma29yZ2llZGZxcWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyNDcwMDcsImV4cCI6MjAxMTgyMzAwN30.i6rJ2nfgh5Ybo40FtWbB783MzTUXCQtVaoeMYoy0AQw    ",
    },
  }
).then((res) => res.json());

console.log(data);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><Header /></header>

    <main>
      <img src="uxkbhavana/public/logo.png" alt="" />

      <div class="video"></div>

      <div class="theme"></div>

      <div class="tickets"></div>
      <div class="tickets">
        <Ticketcard
          ticket="Live-event ticket"
          early="(Early bird price)"
          price="DKK 6.500 ,-"
          text="Join us live* in Copenhagen! Read more about what this ticket includes"
          image="billet1.svg"
        />
        <Ticketcard
          ticket="Live-stream ticket"
          early="(Early bird price)"
          price="DKK 3.000 ,-"
          text="Watch the full live-stream footage of both days. Read more about what this ticket includes"
          image="billet2.svg"
        />
        <Ticketcard
          ticket="Group Ticket"
          text="Join us live or online as a group. Read more about what this ticket includes"
          image="billet3.svg"
        />
        <Ticketcard
          ticket="Recording of the 2023 live-stream"
          text="Watch or rewatch both days of the conference. Read more about what this ticket includes"
          image="billet4.svg"
        />
      </div>
      <div class="speakers">
        {
          data.map((show) => {
            return <Speakercard data={show} />;
          })
        }
      </div>
      <div class="about"></div>
      <div class="sponsors"></div>
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
