---
import Header from "../../components/Header.astro";
export async function getStaticPaths() {
  const data = await fetch(
    "https://abfrtnafkorgiedfqqev.supabase.co/rest/v1/oplaegsholdere",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiZnJ0bmFma29yZ2llZGZxcWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyNDcwMDcsImV4cCI6MjAxMTgyMzAwN30.i6rJ2nfgh5Ybo40FtWbB783MzTUXCQtVaoeMYoy0AQw    ",
      },
    }
  ).then((response) => response.json());

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
---
<header><Header /></header>
<div class="speaker_singleview">
  <div class="rightside">
    <img src={post.img} alt="singleviewimg" />
  </div>
  <div class="leftside">
    <h4>Speaker 2024</h4>
    <h1>{post.name}</h1>
    <h3>{post.job}</h3>
    <p>{post.description}</p>
  </div>
</div>

<div class="about">
  <h1>About</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus debitis
    rerum maiores asperiores nulla perferendis, totam, esse ipsa iure animi
    placeat nobis itaque sint similique quos! Placeat autem recusandae debitis.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus debitis
    rerum maiores asperiores nulla perferendis, totam, esse ipsa iure animi
    placeat nobis itaque sint similique quos! Placeat autem recusandae debitis.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus debitis
    rerum maiores asperiores nulla perferendis, totam, esse ipsa iure animi
    placeat nobis itaque sint similique quos! Placeat autem recusandae debitis.
  </p>
</div>
