<div id="aboutSection">
    <h1> About Section </h1>
    <h2> We are UX Copenhagen </h2>
    <h3> Gathering the greatest developers, designers and web ninjas is our greatest passion </h3>
    <h3> Join our conference and be a part of the future </h3>
    <h3> You definitely don't want to miss out of this great opportunity </h3>
    <h1> Buy your Tickets now for a limited 20% off </h1>
    <button> Buy Tickets </button>
</div>