<div id="aboutSection">
  <div class="aboutleft">
    <h1>What is UX Copenhagen?</h1>
    <p>
      UX Copenhagen® is Denmark’s most inspirational human experience
      conference!<br /><br />
       UX Copenhagen connects people from all over the world for essential
      conversations. Our speakers are a wonderful mix of professionals, ranging
      from juniors new to the field to big names in the field. Each year, we
      have around 200 participants, 75% of whom are international guests. It
      will be held entirely in English. Attendees are UX professionals, digital
      leaders, digital strategists, and marketing professionals from all parts
      of the world – and those who work with and around them.
    </p>
  </div>
  <img class="img1"src="img1.webp" alt="image1">
  <div class="aboutright">
    <p>The 2024 event will be the 10th consecutive UX Copenhagen conference. The conference respects principles like having a diverse range of speakers, and presenting as many different points of view as possible on stage. We support charities, new startups, and initiatives that promote UX and doing good. <br><br>The conference will be a hybrid event – in-person and online. We will be hosting hands-on, live workshops; and live Q&A sessions with each of this year’s speakers. There will be raffles, book sales, and lots of opportunity to network.</p>
  </div>
  <img class="img3"src="img3.webp" alt="image3">
</div>
