<footer>
  <div class="footerindhold">
    <img src="footerlogo.svg" alt="footerlogo" />
    <div class="svgs">
        <img src="public/ikoner/social-ikoner/logo-instagram.svg" alt="" /> 
        <img src="public/ikoner/social-ikoner/facebook.svg" alt="" /> 
        <img src="public/ikoner/social-ikoner/linkedin.svg" alt="" />
        <img src="public/ikoner/social-ikoner/logo-twitter.svg" alt="" /> 
    </div>
    <p>© 2015–2023 hellemartens.com · email: hello@uxcopenhagen.com</p>
  </div>
</footer>

<style>
  footer {
    background: #6a99ac;
  }
  .footerindhold{
    display: block;
    align-items: center;
    justify-content: center;
  }

  .svgs{
    
  }
  p{

  }
</style>
