<header class="header">
  <nav class="navbar">
    <div class="headerflex">
      <a href="/">
        <img src="LOGO.svg" alt="My Happy SVG" class="logo" />
      </a>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#themesection" class="nav-link">Theme</a>
        </li>
        <li class="nav-item">
          <a href="#ticketsection" class="nav-link">Tickets</a>
          <li class="nav-item">
            <a href="#speakersection" class="nav-link">Speakers</a>
          </li>
          <li class="nav-item">
            <a href="#aboutsection" class="nav-link">About</a>
          </li>
        </li>
      </ul>
    </div>
    <button>Sign up for newsletter</button>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      background-color: white;
    }

    .logo {
      width: 160px;
      height: 100px;
    }

    html {
      font-size: 62.5%;
      font-family: "Roboto", sans-serif;
    }

    li {
      list-style: none;
    }
    li:hover {
      transform: scale(1.2);
      text-decoration: none;
      color: #475569;
    }
    a {
      text-decoration: none;
    }

    .header {
      border-bottom: 1px solid #e2e8f0;
    }

    img {
      display: flex;
    }
    button {
      display: flex;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      border: 1px solid var(--grayscale-900-opacity-12, rgba(18, 17, 39, 0.12));
      background-color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 171.429% */
    }

    button:hover {
      transform: scale(1.1);
      border-radius: 10px;
      background: Grayscale / 900;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .headerflex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
    }

    .hamburger {
      display: none;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-item {
      margin-left: 5rem;
    }

    .nav-link {
      font-size: 1.6rem;
      font-weight: 400;
      color: #475569;
    }


    .nav-logo {
      font-size: 2.1rem;
      font-weight: 500;
      color: #482ff7;
    }

    @media only screen and (max-width: 768px) {
      .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }

      .nav-menu.active {
        left: 0;
      }

      .nav-item {
        margin: 2.5rem 0;
      }

      .hamburger {
        display: block;
        cursor: pointer;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  </style>

  <script src="../scripts/header.js"></script>
</header>
