<div class="grid-container">
  <div class="grid-item">
    <h1>9</h1>
    <h2>Years of experience</h2>
  </div>
  <div class="grid-item">
    <h1>20+</h1>
    <h2>Speakers each year</h2>
  </div>
  <div class="grid-item">
    <h1>75+</h1>
    <h2>Workshops hosted</h2>
  </div>
  <div class="grid-item">
    <h1>2000+</h1>
    <h2>Attendees</h2>
  </div>
</div>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
    max-width: 100%;
  }

  .grid-item {
    background: #13293d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    width: 322px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  h1 {
    color: #fff;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .grid-item h1,
  .grid-item h2 {
    margin: 13px 0; /* Adds some space between the lines */
  }

  @media only screen and (max-width: 900px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin: 20px;
    }

    .grid-item {
      background: #13293d;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
      text-align: center;
      justify-content: center;
      padding: 20px;
      border-radius: 5px;
      width: 174px;
      height: 108px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    h1 {
      color: #fff;
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    h2 {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .grid-item h1,
    .grid-item h2 {
      margin: 6px 0; /* Adds some space between the lines */
    }
  }
</style>
