

<template id="item_boks">
  <section>
    <article class="speaker">
      <div class="grid_card">
        <h4>Job</h4>
        <img src="" alt="speakerimg" />
        <h3>Navn</h3>
        <p class="beskrivelse">beskrivelse</p>
      </div>
    </article>
  </section>
</template>

<script src="../scripts/speakercard.js"></script>
