---
const { data } = Astro.props;
console.log(data);
---

<article class="speaker">
  <h4>{data.job} job</h4>
  <img src={data.img} alt="speakerimg" />
  <h3>{data.name} navn</h3>
  <p>{data.description} description</p>
</article>
