<div class="sponsorsection">
  <h1>WE’RE SPONSORS TOO!</h1>
  <p>
    UX Copenhagen always donates some of its proceeds to charity. This year, we
    helped raise money for an AED heart starter to be set up in our local
    community.
  </p>
  <div class="mailsection">
    <img src="public/ikoner/social-ikoner/logo-twitter.svg" alt="" />
    <p>
      Are you interested in sponsoring us?<br />
       Please reach out to hello (at) uxcopenhagen.com between April 1 –
      September 1.
    </p>
  </div>
  <img src="hjerte.png" alt="" />
</div>

<style>
    .mailsection{
        display: flex;
        justify-content: space-between;
    }
</style>
