<div class="themesection">
  <div class="tekstside">
    <h2>This years theme</h2>
    <h1>Degrowth and consumerism</h1>
    <p>
      “There is no planet B.” - Angelos Arnis<br /><br />
       On March 20-21, 2024, we’ll be discussing climate change, consumerism,
      and waste, discussing degrowth and unlearning harmful practices. We'll
      address the need for a shift in consumerism for planetary survival, share
      our sustainable projects, and brainstorm how designers can drive positive
      systemic change.
    </p>
    <img src="public/ikoner/chevron-right.svg" alt="" id="pil" /><h3>Live and online talks, workshops, panel discussions, and Round Table sessions</h3>
    <img src="public/ikoner/chevron-right.svg" alt=""/><h3>UX Copenhagen connects people from all over the world for essential conversations.</h3>
  </div>

  <div class="imageside">
    <img src="img2.webp" alt="themebillede" />
  </div>
</div>

<style>
  .themesection{
    margin: 10%;
  }

  #pil{
    fill: black;
  }
</style>
