@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

main{
    margin-top: 0;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    color: #13293D;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
}

h2{
    color: #13293D;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #13293D;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

h4{
    color: #13293D;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p{
    color: #13293D;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img{
    max-width: 100%;
}

button{
    font-family: Montserrat;
}